<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="homediv" id="home">
        <h1 class="homeh1">Welcome To Dashboard</h1>

        <div class="btncontainer">
            <a href="/login" class="a2"><button class="btn" type="submit" name="loginbtn">Sign In</button></a>
            <a href="/register" class="a2"><button class="btn" type="submit" name="registerbtn">Sign Up</button></a>
        </div>


    </div>

</body>

</html>