<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="home"  id="home">
        <h1 class="homeh1">Welcome To Dashboard</h1>
        <button class="btn"  type="submit" name="loginbtn"><a href="/login" class="a2">Sign In</a></button>
        <button class="btn"  type="submit" name="registerbtn"><a href="/register" class="a2">Sign Up</a></button>
        
    </div>

</body>

</html>