<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <form id="loginForm" method="POST" action="/login">
    <h3 style=" text-align: center;">Login Form</h3>
    <input type="email" id="email" name="email" placeholder="email" required><br><br>
    <input type="password" id="password" name="password" placeholder="password" required><br><br>
    <a href="/register" class="a1">Create an account.</a><br><br>
    <button class="btn" type="submit">Sign In</button>
  </form>
  <script>
      document.getElementById('loginForm').addEventListener('submit', async (event) => {
      event.preventDefault(); // Prevent form submission
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const response = await fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email, password })
      });
      const data = await response.json();
      if (!response.ok) {
        // give error on login page if password or email is incorrect
        alert(data.error);
      } 
      else {
        // Redirect to the dashboard or perform other actions upon successful login
        window.location.href ="/home";
      }
    });
    </script>
    

</body>

</html>